# PostgreSQL
DATABASE_URL="postgresql://chatuser:chatpassword@localhost:5433/chatdb"

# MongoDB
MONGODB_URI="mongodb://chatuser:chatpassword@localhost:27018/chatdb?authSource=admin"

# Redis
REDIS_URL="redis://localhost:6380"
REDIS_HOST=localhost
REDIS_PORT=6380

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PUBLIC_ENDPOINT=localhost:9002
MINIO_PORT=9002
MINIO_USE_SSL=false
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="chat-files"

# JWT
JWT_SECRET="super-secret-jwt-key"
JWT_EXPIRES_IN="8h"

# Encriptación de mensajes (AES-256-GCM)
MESSAGE_ENCRYPTION_KEY="01e2e3d4e5f607182938475664738394545566778899000aabbcccddeeff001122"

# Admin por defecto (se crea con el seed)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="Admin1234!"

# App
PORT=3000
FRONTEND_URL="http://localhost:5174"
NODE_ENV=development
INACTIVITY_TIMEOUT_MS=1800000
